.container {
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
}
* {
  margin: 0;
  padding: 0;
}
body,
a {
  font-family: "DM Sans", sans-serif;
}

.background-box {
  background-color: #383838;
  height: 45px;
  padding-right: 500px;
}
.image {
  margin-top: 15px;
  display: block;
}

.phone_number {
  color: var(--neutral-02, #f9f9f7);

  position: relative;
  top: 13px;
  right: 340px;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.phone_icon {
  color: aliceblue;
  position: relative;
  top: 15px;
  left: 65px;
}
.email_icon {
  color: aliceblue;
  position: relative;
  top: 15px;
  left: 250px;
}
.email {
  color: var(--neutral-02, #fffafa);

  position: relative;
  top: 13px;
  right: 250px;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
header .container1 {
  display: flex;
  gap: 300px;
  padding: 30px 510px;
}
nav {
  display: flex;
  gap: 25px;
  padding-top: 20px;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

nav a {
  text-decoration: none;

  color: #383838;
}

.button {
  text-align: right;

  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 118px;
  padding: 14px 26px;
  border: 1.5px solid var(--neutral-07, #2c2f24);
  background: none;
}
.button_text {
  text-decoration: none;
  color: var(--neutral-07, #182226);
}
.button:hover {
  background: #f27070;
}
.right_side {
  padding-left: 90px;
  padding-top: 150px;
}
.right_text {
  color: var(--neutral-07, #2c2f24);

  font-family: Playfair Display;
  font-size: 55px;

  font-weight: 500;
  line-height: 60.5px;
}
.right_text2 {
  color: var(--neutral-07, #2c2f24);

  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-top: 20px;
}
.right_text3 {
  font-family: DM Sans;
  font-size: 16px;

  font-weight: 400;
  line-height: 24px;

  padding-top: 25px;
}

.about-us {
  background-color: #f9f9f7;
  padding-top: 100px;
}
.about-us .container {
  display: flex;
  gap: 150px;
}
.egg {
  border-radius: 5%;
}
.black {
  position: relative;
  left: 360px;
  top: -280px;
}

.video-img {
  position: relative;
}
.video-play {
  position: relative;
  top: 190px;
  right: 1050px;
}
.container .text-overlay {
  position: absolute;
  color: var(--neutral-01, #ffffff);
  text-align: center;

  font-family: Playfair Display;
  font-size: 55px;
  top: 107%;
  left: 56%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  line-height: 60.5px;
}
.video-box {
  display: flex;
  gap: 130px;
  padding-left: 200px;
}
.video-box1 {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}
.video-box-text {
  color: var(--neutral-06, #414536);

  font-family: DM Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-top: 10px;
}

.video-box1-name {
  color: var(--neutral-07, #2c2f24);

  font-family: DM Sans;
  font-size: 25px;

  font-weight: 800;
  line-height: 26px;
}

.information .container {
  padding-top: 200px;
  background: var(--neutral-02, #F9F9F7);
 height: 650px;
 width:auto ;
}
.container {
  display: flex;
  gap: 200px;
}
.information {
  padding-top: 70px;
}
.left_side4 {
  padding-left: 152px;
}
.left_side4_title {
  color: var(--neutral-07, #2C2F24);


font-family: Playfair Display;
font-size: 55px;
font-style: normal;
font-weight: 500;
line-height: 60.5px; 
}

.left_side4_text {
  color: var(--neutral-06, #414536);
padding-top: 25px;

font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.information-box .number {
  color: var(--neutral-07, #2C2F24);



font-family: Playfair Display;
font-size: 55px;
font-style: normal;
font-weight: 500;
line-height: 60.5px; 
display: flex;
align-items: center;
justify-content: center;
}
.information-box .number-text {
  color: var(--neutral-06, #414536);

font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px; 
display: flex;
align-items: center;
justify-content: center;
padding-top: 20px;


}
.information-box {
  background: #f9f9f7;
  border-radius: 8px;
border: 1px solid var(--neutral-03, #DBDFD0);
background: var(--neutral-01, #FFF);
width: 250px;
height: 150px;
flex-shrink: 0;
display: grid;
 display: grid;
  grid-template-columns: max-content max-content;
  gap: 20px;
}
